# Generated with hyprdynamicmonitors freeze.
# This is a template that you can edit, it is just a starter that pulled your current monitor setup,
# adjust as needed.
# You can use templates here etc, see https://github.com/fiffeek/hyprdynamicmonitors/blob/main/examples/basic/hyprconfigs/template.go.tmpl.
# Monitors are given arbitrary tags (the "monitor" prefix and the ID coming from hyprland).
# If you are using tui to edit, leave this at the end of your file (the last monitor config applies)
# and leave the markers.
# Workspaces on laptop panel (only active monitor when undocked)
workspace=1,monitor:desc:AU Optronics 0x21ED,persistent:true,default:true
workspace=2,monitor:desc:AU Optronics 0x21ED,persistent:true
workspace=3,monitor:desc:AU Optronics 0x21ED,persistent:true
workspace=4,monitor:desc:AU Optronics 0x21ED,persistent:true
workspace=5,monitor:desc:AU Optronics 0x21ED,persistent:true
workspace=6,monitor:desc:AU Optronics 0x21ED,persistent:true

# <<<<< TUI AUTO START
monitor=desc:AU Optronics 0x21ED,1920x1080@60.03000,1770x0,1.25000000,transform,0,vrr,0
# <<<<< TUI AUTO END
