@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;
  font-family: 'JetBrainsMonoNL Nerd Font Propo';
  font-size: 14px;
}

window#waybar{
    all:unset;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

.module {
  border-bottom-width: 1px;
  border-bottom-color: @foreground00;
  border-bottom-style: solid;
  padding: 0px 4px;
  margin: 2px 2px;
}

#mpris,
#image,
#workspaces,
#custom-expand-icon,
#custom-spotify,
#custom-spotatui,
#clock {
  border: none;
}


#player * {
  margin: 0px;
  padding: 0px 2px;
}

#workspaces button {
  all: initial;
  margin: 0 4px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-update {
  font-size: 12px;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}


#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 5px;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#idle_inhibitor.activated,
#bluetooth.off {
  opacity: 0.5;
}


#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}
