@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  font-family: 'JetBrainsMonoNL Nerd Font Mono';
  font-size: 14px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

.modules-left {
  margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

.module {
  border-bottom-width: 2px;
  border-bottom-color: @foreground;
  border-bottom-style: solid;
  padding: 0px 6px;
  margin: 0px 4px;
}

#workspaces,
#custom-expand-icon,
#custom-spotify,
#custom-spotatui,
#clock {
  border: none;
}

#workspaces button {
  all: initial;
  margin: 0 5px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#custom-update {
  font-size: 12px;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

