@define-color text #ffd3c8;
@define-color background #0c0404;
@define-color primary #fd6f75;
@define-color secondary #753333;
@define-color accent #b96666;

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	font-family: "JetBrainsMono Nerd Font", monospace;
	font-weight: bold;
	font-size: 14px;
	padding: 0;
}

window#waybar {
  background: transparent;
  border: none;
}

tooltip {
	background-color: @background; 
	border-radius: 12px;
}

.modules-center {
	margin: 0px;
	padding: 2px 10px;
	border-radius: 0px 0px 20px 20px;
	box-shadow: 0 0 5px alpha(@background, 0.5);
	background-color: @background;
}

#workspaces,
#custom-spotify-track,
#tray,
#clock,
#tray,
#cpu,
#memory,
#battery,
#language,
#backlight,
#temperature,
#custom-spotify-track,
#network,
#bluetooth,
#idle_inhibitor,
#pulseaudio {
	margin: 4px 2px;
	padding: 2px 10px;
	border-radius: 12px;
	background-color: @background;
	color: @text;
}

#workspaces button {
  all: initial;
  min-width: 0;
  padding: 2px 10px;
  color: @secondary;
}

#workspaces button.active {
  color: @primary;
}

#workspaces button.urgent {
  color: @accent;
}

#battery,
#battery.charging,
#battery.plugged {
  background-color: @background;
  color: #a7c080;
}

#cpu.critical,
#memory.critical,
#temperature.critical,
#bluetooth.off,
#bluetooth.disabled {
  background-color: @background;
  color: @secondary;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: @background;
  color: @accent;
}

#idle_inhibitor.deactivated {
  color: @secondary; 
}
