[Unit]
Description=nvidia-tuner

[Service]
Type=exec
ExecStart=/usr/local/sbin/nvidia-tuner --core-clock-offset 85
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
